<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link th:href="@{/Bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" }>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css" media="all">
<script th:src="@{/Bootstrap/js/bootstrap.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table table-striped">
    <tr>
        <th>Currency</th>
        <th>Buy</th>
        <th>Sell</th>


    </tr>

    <tr th:if="${logs != null}" th:each="log : ${logs}">
        <td th:text="${logs.get(0).getCurrencyName()}"></td>
        <td th:text="${logs.get(0).getAskOfCurrency()}"></td>
        <td th:text="${logs.get(0).getBidOfCurrency()}"></td>
        <td th:text="${logs.get(0).getDateOfRequest()}"></td>
    </tr>
</table>


<!--<ul>-->
    <!--<li th:each="log : ${logs}" th:text="${log}"> </li>-->

<!--</ul>-->
<a href="/">
    <button class="btn btn-default btn-sm" type="button">Home Page</button>
</a>

</body>
</html>