<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link th:href="@{/Bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" }>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css" media="all">
<script th:src="@{/Bootstrap/js/bootstrap.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Available currencies to check</h1>
        <p>In our app you can check following currencies:</p>
        <p>USD, AUD, CAD, EUR, HUF, CHF, GBP, JPY, CZK, DKK, NOK, SEK, XDR</p>
    </div>
    <p></p>
</div>


<div style="text-align: center;">
    <form th:action="@{/}" method="post">

        <select name="currencyName">
            <option>USD</option>
            <option>AUD</option>
            <option>CAD</option>
            <option>EUR</option>
            <option>HUF</option>
            <option>CHF</option>
            <option>GBP</option>
            <option>JPY</option>
            <option>CZK</option>
            <option>DKK</option>
            <option>NOK</option>
            <option>SEK</option>
            <option>XDR</option>
        </select>
        <input type="submit" value="Submit">

    </form>


    <table class="table table-striped">
        <tr>
            <th>Currency</th>
            <th>Buy</th>
            <th>Sell</th>


        </tr>

        <tr th:if="${currency != null}">
            <td th:if="${currency != null}" th:text="${currency.getCurrency()}"></td>
            <td th:each="currencyBuy : ${currency.getRatesOfCurrencyDtoList()}"
                th:text="${currencyBuy.getBid()}">>
            </td>
            <td th:each="currencyBuy : ${currency.getRatesOfCurrencyDtoList()}"
                th:text="${currencyBuy.getAsk()}"></td>
        </tr>
    </table>

    <a href="/history">
        <button class="btn btn-default btn-sm" type="button">History</button>
    </a>
</div>
</body>
</html>
